.nav {
  background-color: #F8F8F8;
  margin-bottom: 30px;
}

.nav a {
  font-family: 'Roboto', sans-serif;
  color: rgba(20, 20, 20, 0.7);
  font-size: 18px;
  font-weight: 400;
}

.nav a:hover {
  text-decoration: none;
  color: rgba(20, 20, 20, 1);
}
